@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  /* background-color: #BAD7DF; light green background */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

html {
  scroll-behavior: smooth;
}

