@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

html {
  scroll-behavior: smooth;
}

/* Blob-style Amoeba Clip Paths */
/* Square with rounded edges */
/* For the rounded square images */
/* For the rounded square images */
.square-rounded {
  border-radius: 12px;  /* Adjust roundness */
  overflow: hidden;  /* Hide anything that exceeds the rounded container */
}

.w-32 {
  width: 8rem;  /* Adjust width for larger images */
}

.h-32 {
  height: 8rem;  /* Adjust height to match the width */
}







